<div *ngIf="client.connected else notConnected" class="container section">
  <h1 class="title has-text-weight-bold has-text-white">{{title}}</h1>


  <div [class.is-active]="lobby.matchCountdown" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content is-clipped p-5">
      <div *ngIf="client.drawing else notDrawingCountdown" class="animate__animated animate__fadeIn">
        <h1 class="subtitle has-text-white">Get Ready! You are going to draw...</h1>
        <h1 class="title has-text-white">{{lobby.word}}</h1>
        <h1 class="title has-text-white">{{lobby.matchStartingCountdown}}</h1>
      </div>
      <ng-template #notDrawingCountdown>
        <h1 class="subtitle has-text-white">You are guessing this round! <b>{{lobby.currentDrawer.username}}</b> will be drawing</h1>
        <h1 class="title has-text-white">{{lobby.matchStartingCountdown}}</h1>
      </ng-template>
    </div>
  </div>

  <div [class.is-active]="lobby.roundOver" class="modal animate__animated animate__fadeIn">
    <div class="modal-background"></div>
    <div class="modal-content is-clipped p-5">
      <h1 class="subtitle has-text-white">Round Over!</h1>
      <div class="title has-text-white">{{lobby.roundOverReason}}</div>

      <div class="mt-0" *ngFor="let message of lobby.roundSummary[0]">
        <h1 class="subtitle is-5 has-text-white">
          {{message['username']}} - {{message['score']}}
        </h1>
      </div>

    </div>
  </div>

  <h1 *ngIf="lobby.roomCodeIsVisible else notRevealed" class="subtitle has-text-weight-bold has-text-white">{{inputRoom}}</h1>
  <ng-template #notRevealed>
    <h1 (click)="lobby.roomCodeIsVisible=true" class="subtitle has-text-weight-bold has-text-white is-clickable">Click to reveal room ID</h1>
  </ng-template>

  <div *ngIf="lobby.matchStarted else notStarted">
    <div class="block mb-5">
      <p class="has-text-white">{{(lobby.matchTime/100).toFixed(0)}}</p>
      <progress class="progress is-success" [value]="lobby.matchTime" [max]="lobby.matchTimeMax"></progress>
      <h1 class="title is-3 has-text-white has-text-weight-bold has-text-centered">
        <span style="white-space: pre;">{{lobby.word}}</span>
      </h1>
    </div>
  </div>
  <ng-template #notStarted>
    <h1 class="subtitle has-text-white">Waiting for match to start...</h1>
  </ng-template>


  <div class="tile is-ancestor">

    <ng-template #playerList>
      <h1 class="title is-4 has-text-weight-bold mb-0">Players</h1>
      <div class="mt-0" *ngFor="let message of lobby.userList">
        <p [class.has-text-weight-bold]="client.id === message['userID']"
           [class.has-text-success]="lobby.correctGuesses != undefined && lobby.correctGuesses[message['userID']] == true">
          <fa-icon *ngIf="lobby.host === message['userID']" [icon]="icons.crown"></fa-icon>
          {{message['username']}} - {{lobby.score[message['userID']] == undefined ? 0 : lobby.score[message['userID']]}} points
          <fa-icon *ngIf="lobby.currentDrawer.id === message['userID']" [icon]="icons.pencil"></fa-icon>
        </p>
      </div>
      <div class="buttons mt-5">
        <button [disabled]="!lobby.userList || lobby.userList.length <= 1" *ngIf="lobby.host===client.id && !lobby.matchStarted" (click)="startMatch()" class="button is-success has-text-weight-bold">Start Match</button>
        <button (click)="disconnect()" class="button is-danger has-text-weight-bold">Disconnect</button>
      </div>
    </ng-template>

    <div class="tile is-parent box is-2 mx-2 is-hidden-touch" style="height: 50%">
      <div class="tile is-child">
        <ng-container *ngTemplateOutlet="playerList"></ng-container>
      </div>
    </div>

    <div class = "tile is-parent card mx-2 is-7">
      <div class="tile is-child">
        <app-canvas #canvas oncontextmenu="return false;"></app-canvas>
      </div>
    </div>

    <div class="tile is-parent box is-2 mx-2 is-hidden-desktop mt-3" style="height: 50%">
      <div class="tile is-child">
        <ng-container *ngTemplateOutlet="playerList"></ng-container>
      </div>
    </div>

    <div class = "tile is-parent box is-3 mx-2 is-hidden-touch" style="height: 50%">
      <div class="tile is-child">
        <h1 class="title is-4 has-text-weight-bold">Chat</h1>
        <div class="chat-container mb-3" style="height: 300px; overflow-y: scroll;">
          <div *ngFor="let message of lobby.messageList" class="chat">
              <p><b *ngIf="message[0]">{{message[0]}}: </b>{{message[1]}}</p>
          </div>
        </div>

        <ng-template #guessInput>
          <div *ngIf="!client.drawing" class="field has-addons">
            <div class="control is-expanded">
              <input placeholder="Type your guess here..." class="input"
                     [(ngModel)]="newMessage" (keyup)="$event.code == 'Enter' && sendMessage()" />
            </div>
            <div class="control">
              <button class = "button is-success has-text-weight-bold" (click)="sendMessage()">Guess!</button>
            </div>
          </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="guessInput"></ng-container>
      </div>
    </div>

    <div class="is-hidden-desktop" style="height: 300px"></div>

    <nav class="navbar is-fixed-bottom is-hidden-desktop p-5 mx-4 mb-3 card">
      <ng-container *ngTemplateOutlet="guessInput"></ng-container>
      <div class="chat-container mb-3" style="max-height: 75px; overflow-y: scroll;">
        <div *ngFor="let message of lobby.messageList" class="chat">
          <p><b *ngIf="message[0]">{{message[0]}}: </b>{{message[1]}}</p>
        </div>
      </div>
    </nav>

  </div>
</div>
<ng-template #notConnected>
  <div class="container section">
    <h1 class="title has-text-weight-bold has-text-white">{{title}}</h1>
    <p class="has-text-white"></p>
    <div class="box">
      <div class="columns">

        <div class="column">
          <input [(ngModel)]="inputUsername" class="input" placeholder="Choose a username">
        </div>

        <div class="column">
          <input [(ngModel)]="inputRoom" (input)="inputRoom=inputRoom.toUpperCase()" class="input" placeholder="Room ID">
        </div>
      </div>

      <div class="buttons">
        <button [disabled]="!inputRoom" (click)="joinLobby()" class="button is-success has-text-weight-bold">Connect</button>
        <button [disabled]="inputRoom" (click)="connect()" class="button is-success is-light has-text-weight-bold">Create new room</button>
      </div>

    </div>

    <div class="box">
      <h1 class="is-4 title has-text-weight-bold">Made by Lyubomir Todorov</h1>
      <h1 class="is-6 subtitle ">What is this?</h1>
      <article class="message is-success">
        <div class="message-body">
          <p><b>Draw with Sockets!</b> is a full-stack project to familiarize myself further with web development.</p>
          <p>
            This project uses Angular for its front end, and Nodejs as the backend.
            Lobby and match functionality is done using Socket.io
          </p>
        </div>
      </article>
      <b>The app's source code is available under the MIT licence.</b>
      <div class="block">
        <a href="https://www.github.com/Lyubomir-Todorov" target="_blank">View the source code at Github</a>
      </div>


      <div class="block">
        <a href="https://lyubomirtodorov.ca" target="_blank">View other projects on my personal website</a>
      </div>
    </div>

    <div class="box">
      <h1 class="is-4 title has-text-weight-bold">How do I play?</h1>
      <article class="message is-info">
        <div class="message-body">
          <div class="block">
            <p>
              <b>Draw with Sockets!</b> is a Pictionary type game, where one person is tasked with drawing a randomly chosen word, and the rest of the lobby tries to guess what it is.
            </p>
            <p>Points are awarded to those who correctly guess the word, and how quickly they get it.</p>
          </div>

          <div class="block">
            <p>Enter a username and create a room, or specify a room code if you're joining a friend!</p>
          </div>
        </div>
      </article>
    </div>


  </div>
</ng-template>
